<!doctype html>
<html>
<head>
  <title>Green Light</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script>'https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js'</script>

  <link href="/static/styles.css" rel="stylesheet" >

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href='/' class="navbar-brand" href='/' style='padding-top: 5px;'><img src='/static/bright_green_bulb.png'></a>
        <a href='/' class="navbar-brand" href="/">Green Light</a>
      </div>

      <!--     <!- Collect the nav links, forms, and other content for toggling -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if "user_id" in session %}
          <li><a href="/users/{{ session['user_id'] }}">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
          {%endif %}
        </ul>
      </div>
    </div>
  </nav>
</head>

<body>
  <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  {% block content %} {% endblock %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>