<!doctype html>
<html>
<head>



  <title>w</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link href="/static/styles.css" rel="stylesheet" >
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href='/' class="navbar-brand" href="/">Green Light</a>
    </div>

<!--     <!- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        {% if "user_id" in session %}
        Welcome {{ session['user_id'] }}!
        <li><a href="/users/{{ session['user_id'] }}">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        {%endif %}

          </ul>
          </ul>
        </li>
      </ul>
</nav>

</head>

<body>
<script src="/static/modal_window.js"></script>

  <hr>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


 

  {% block content %} {% endblock %}





</body>
</html>