{% extends 'base.html' %}
{% block content %}

    <h2>Please Register to Sign In</h2>

    <form action='/register' method='POST'>
      <label> First Name </label><input type='text' name='first_name'><br>
      <label> Last Name </label><input type='text' name='last_name'><br>
      <label> Email </label><input type='text' name='email'><br>
      <label> Phone Number </label><input type='text' name='phone_number'><br>
      <label> Password </label><input type='password' name='password'><br>
      <input type="submit">
</form>
    </form> 

{% endblock %}