
{% extends 'base.html' %}
{% block content %}

<style type='text/css'>
    /* The Modal (background) */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}


</style>
<h1>Welcome {{ user.first_name }} {{ user.last_name }}!</h1>

<h2>Plants</h2>
<form action='/addplants' method='POST'>

    <select name='plant_id'>
      {% for plant in load_plants %}
          <option value='{{ plant.plant_id }}'>{{ plant.common_name }}</option>
      {% endfor %}
    </select>


  <input type='submit'>
</form>

<h2>These are the plants in your garden!</h2>

<input type="text" name="search" placeholder="Search..">

 <ul>
      {% for plant in user.userplants %}
          <li>
              <a id='plant_common_name'>
                <b>{{ plant.plant_type.common_name }}</b> 

              <form action='/addqty.json' method='POST' class='ajaxform'>
                <input type='hidden' value='{{ plant.up_id }}' id='qtyhidden{{ plant.up_id }}' name='user_plant_id'>
                <ul> QTY: <input type='number' id='qty{{ plant.up_id }}' name='qty'> <input type='submit' class='qtysubmit' id='qtysubmit{{ plant.up_id }}'></ul> 
              </form>
                <div id='number_of_plants'> </div>
                <div> {{plant.qty}} </div>

          <!-- Trigger/Open The Modal -->
          <button id="{{ plant.up_id }}" class='modalbutton'>Alert</button>

          <!-- The Modal -->
          <div id="modal{{ plant.up_id }}" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">x</span>
              <form action='/addalerts' method='POST' class='userform'>
                      <input type='hidden' value='{{ plant.up_id }}' id='modalhidden{{ plant.up_id }}' name='user_plant_id'>
                      <label>Please select the alert you wish to set.</label>
                      <select id='select{{ plant.up_id }}' name='alert_type_id'>
                        {% for alert in load_alerts %}
                            <option value='{{ alert.alert_type_id }}'>{{ alert.alert_type }}</option>
                        {% endfor %}
                      </select><br>
                      <label>Next care date: </label><input type='date' id='date{{ plant.up_id }}' name='date'>
                        <input type='submit' id='modalsubmit{{plant.up_id }}'>
              </form>
            </div>
            <!--Display the alerts for each specific plant -->
          </div>
              <div id='alert{{ plant.up_id }}' class='alertinfo' id='alertinfo{{ plant.up_id }}'> 
                <input type='hidden' value='{{ plant.up_id }}' id='alerthidden{{ plant.up_id }}' name='user_plant_id' class='completetheform'>
                {% for alert in plant.alerts: %}
                  <ul> ALERT: {{ alert.alert_type }}</ul>
                  <ul> DATE: {{ alert.date }} </ul>
                  <form action='/completealert' method='POST' class='userform'>
                    <input type='hidden' value='{{ plant.up_id }}' id='completionhidden{{ plant.up_id }}' name='user_plant_id'>
                    <input type='checkbox' name='completion' class = completedalert id=alertcomplete'{{ plant.up_id }}'' value='True'> Task Completed
                  </form>
                  ==================================================
                {% endfor %}

              </div>

      {% endfor %}
    </ul>

<a href='\'> Please click here to return to the homepage </a> 


<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

<script type='text/javascript'>
'use strict';
// when submit button is clicked on an ajax form, run the ajax call

function displayQty(response){
  var user_plant_id = response['user_plant_id'];
  console.log('1');
  var qty = response['qty'];
  console.log('#2');
  $('#number_of_plants').html('');
  console.log('#3');
  $('#number_of_plants').html('<div>' + qty + '</div>');
}

function addNum(evt){
  evt.preventDefault();
  var btn = $(evt.currentTarget);
  console.log('#4')
  var form = btn.closest('form');
  console.log('#5')
  var qty = form.find('input[name="qty"]').val();
  console.log('#6')
  console.log($(this));
  var formInputs = $(this).serialize();
  console.log(formInputs);

  $.post('/addqty.json', formInputs, displayQty);
  console.log('#7');
}
  
$('.ajaxform').on('submit', addNum);



$('.alertinfo').on('click', function(){
  var id = $(this).attr('id');
  if 
    $("#alert" + id).hide();

});


</script>
{% endblock %}

